In [12]:
# Dependencies
import pandas as pd

In [13]:
# load CSV -- how do I do this without the full thread?
schools = ('/Users/RoFo/Dropbox/Data_Science_BC/GitHub/Git_Real_Repo/02-Homework/04-Numpy-Pandas/PyCitySchools/raw_data/schools_complete.csv')
students = ('/Users/RoFo/Dropbox/Data_Science_BC/GitHub/Git_Real_Repo/02-Homework/04-Numpy-Pandas/PyCitySchools/raw_data/students_complete.csv')

In [14]:
# Read schools with pandas
schools_df = pd.read_csv(schools, encoding="iso-8859-1", low_memory=False)
students_df = pd.read_csv(students, encoding="iso-8859-1", low_memory=False)
students_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [56]:
schools_df.head()
# make school name inthe index -- to put it in alphabetical order.

   School ID            School Name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [15]:
# Or, I can get a reference to the column names this way
students_df.columns

Index(['Student ID', 'name', 'gender', 'grade', 'school', 'reading_score',
       'math_score'],
      dtype='object')

In [16]:
# Rename columns | change "name" of students to "student name"
students_df = students_df.rename(columns={"name":"Student Name", "school":"School Name"})
students_df.columns

Index(['Student ID', 'Student Name', 'gender', 'grade', 'School Name',
       'reading_score', 'math_score'],
      dtype='object')

In [17]:
#change "name" of schools to "High School" 
schools_df = schools_df.rename(columns={"name":"School Name"})

In [18]:
# inner merge
school_master_df = pd.merge(schools_df, students_df, on = 'School Name')
school_master_df.head()

,School ID,School Name,type,size,budget,Student ID,Student Name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [22]:
# Calculate Total Students
Total_Students = school_master_df["Student Name"].count()
print(Total_Students)

39170

In [52]:
# value counts
Total_students_per_school = school_master_df["School Name"].value_counts()
print(Total_Schools)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [24]:
#unique
Total_Schools = school_master_df["School Name"].unique()
Total_Schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [25]:
len(Total_Schools)

15

In [26]:
#Calculate total budget -- this is wrong.  How do I eliminate the duplicates?
Total_Budget = schools_pd["budget"].sum()
Total_Budget = '${:,.0f}'.format(Total_Budget)
print(Total_Budget)

$24,649,428

In [28]:
# Average Math Score
Av_Math = round(school_master_df["math_score"].mean(), 2)
print(Av_Math)

78.99

In [30]:
#Average Reading Score
Av_Reading = round(school_master_df["reading_score"].mean(), 2)
print(Av_Reading)
#the bracket makes it an array/list
Av_Reading =[Av_Reading]

81.88

In [33]:
# % Passing Math 
math_pass = school_master_df[school_master_df["math_score"] > 70]
math_pass = round(math_pass["math_score"].count()/Total_Students*100, 2)
math_pass

72.39

In [34]:
# % Passing Reading 
#this gives a list of those passing reading
reading_pass = school_master_df[school_master_df["reading_score"] > 70]
#this gives an integer ".count", which you can do math on
reading_pass = round(reading_pass["reading_score"].count()/Total_Students*100, 2)
reading_pass

82.97

In [35]:
# Overall Passing Rate (Average of the above two)
overall = (reading_pass+math_pass)/2

In [43]:
# Pretty table --> create a dictionary -> convert to DF "pd.DataFrame"

Schooled_df = pd.DataFrame({
    "Total Students": [Total_Students],
    "Total Schools": [len(Total_Schools)],
    "Total Budget": [Total_Budget],
    "% Passing Reading": [reading_pass],
    "% Passing Math": [math_pass],
    "Average Math Score": [Av_Math],
    #don't need data frame because already a list
    "Average Reading Score": Av_Reading,
    "% Overall Passing": [overall]
})
#, columns=[]

In [44]:
#reset the index of the DF to get rid of the first column
#Schooled_df.set_index("Total Schools", inplace=True)
Schooled_df

,% Overall Passing,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Total Budget,Total Schools,Total Students
0,77.68,72.39,82.97,78.99,81.88,"$24,649,428",15,39170

In [45]:
#build a table that indexes by school to do analysis
school_master_df.head()

,School ID,School Name,type,size,budget,Student ID,Student Name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [49]:
math_score = school_master_df.groupby(['School Name']).mean()['math_score']
reading_score = school_master_df.groupby(['School Name']).mean()['reading_score']

In [50]:
school_math_score = school_master_df[school_master_df["math_score"] > 70]

In [55]:
# count has to be used with groupby
percent_passing_math = school_math_score.groupby(['School Name']).count()['math_score']/Total_students_per_school
percent_passing_math

Bailey High School       0.646302
Cabrera High School      0.895587
Figueroa High School     0.637504
Ford High School         0.657539
Griffin High School      0.897139
Hernandez High School    0.647465
Holden High School       0.906323
Huang High School        0.633185
Johnson High School      0.638521
Pena High School         0.916840
Rodriguez High School    0.640660
Shelton High School      0.898921
Thomas High School       0.902141
Wilson High School       0.909330
Wright High School       0.902778
dtype: float64